set(autostart ${PLUGIN_MOCKNETWORKPLUGIN_AUTOSTART})

if(PLUGIN_MOCKNETWORKPLUGIN_STARTUPORDER)
set (startuporder ${PLUGIN_MOCKNETWORKPLUGIN_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_DUMMYPLUGIN_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
